* {
    box-sizing: border-box;
}

body,html {
    margin: 0;
    padding: 0;
}

.container {
    margin: auto;
    width: 1920px;
    height: 1080px;
    background: #FFFFFF;
    display: flex;
}


.landing-container, .submit-container {
    background-image: url('../images/stars.png'), radial-gradient(50% 50% at 50% 50%, #0C0D0E 0%, #151718 73.44%);
    mix-blend-mode: normal;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.submit-container {
    background: radial-gradient(50% 50% at 50% 50%, #0C0D0E 0%, #151718 73.44%);
}


/*welcome and thank you titles*/
.title-main {
    font-family: Rowdies;
    font-size: 96px;
    line-height: 119px;
    text-align: center;
    color: #FE3B1F;
    margin: 220px 0 100px;
}


/*all buttons*/
.btn-main {
    width: 395px;
    height: 79px;
    background: #FE3B1F;
    border-radius: 50px;
    font-family: Montserrat;
    text-align: center;
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
    }
        

/*start questionnaire button*/
.btn-start {
    font-size: 24px;
    line-height: 29px;
    }




/* submitted applications & go back tags*/
.tag {
    font-family: Montserrat;
    text-align: center;
    text-decoration-line: underline;
    color: #FFFFFF;
    }
    
/* submitted applications*/
.tag-applications {
    font-size: 24px;
    line-height: 29px;
}
        


/*left (white) and right (black) sides*/
.panel-left, .panel-right {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
}

.panel-right {
    background: radial-gradient(50% 50% at 50% 50%, #0C0D0E 0%, #151718 73.44%);
}


/*left and right panel titles*/
.title {
    margin: 9rem 7rem;
    padding: 0;
    font-family: 'Rowdies', cursive;
    font-size: 64px;
    font-weight: 400;
    line-height: 79px;
    color: #FE3B1F;
    text-align: center;
}

.title-right {
    align-self: flex-start;
    margin: 9rem 6rem 7rem 10rem;
}

.text-main {
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    line-height: 48px;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    align-self: flex-start;
    margin: 3rem 6rem 3rem 9.8rem;
}


.input-box {
    margin-bottom: 10rem;
    width: 455px;
    height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.input-box-big {
    height: 800px;
    justify-content: flex-start;
}

/* all types of inputs (& skills output) */
.input {
    height: 54px;
    width: 455px;
    background: #FFFFFF;
    border: 1px solid #525557;
    text-indent: 30px;
    
    font-family: Montserrat;
    font-style: italic;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: #454545;
    }
    
    
    .skills-box {
        margin-top: 25px;
        width: 455px;
        height: 230px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }


/*add programming language button*/
.btn-small {
    width: 201px;
    height: 32px;
    font-size: 12px;
    line-height: 15px;
    border-radius: 0;
    border: none;
    align-self: flex-end
    } 


/* skills array*/
.output {
    width: 447px;
    height: 48px;
    display: flex;
    border: 1px solid #525557;
    justify-content: space-around;
    align-items: center;
    
    color: #000000;
    }
    
.output-text {
    font-family: Montserrat;
    font-style: italic;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: #454545;

}

/*in skills output*/
    .btn-remove {
        width:20px;
        height:20px;
        margin-left: 5em;
        background: url("../images/Remove.svg");
        cursor: pointer;
    }


    .radio-box {
        display: block;
        border: none;
        width: 645px;
        font-family: 'Montserrat', sans-serif;
        font-style: normal;
        font-weight: normal;
        color: #000;
        padding: 2em 0;
    }

    /*input questions*/
.input-label {
    font-family: Montserrat;
    font-size: 18px;
    line-height: 22px;
    padding: 15px 0;
    color: #000000;
    }
    
.date-box {
    margin: 30px 0 0 0;
}

    .date-input {
        display: block;
        padding: 25px;
    }

    .date-label {
        margin-bottom: 15px;
    }

    /*large textarea*/
.textarea-big {
    height: 122px;
    }
    
    /*small textarea*/
    .textarea-small {
    height: 89px;
    }
    
    .textarea-big, .textarea-small {
    width: 535px;
    font-style: normal;
    font-size: 13px;
    line-height: 16px;
    color: #3A3A3A;
    resize: none;
    }
    

    /*submit button*/
    .btn-submit {
    font-size: 36px;
    line-height: 44px;
    }
    
/* go back tag*/
.tag-back {
    font-size: 28px;
    line-height: 34px;
    }
    

.title-thanks {
    font-size: 96px;
    line-height: 119px;
}

.container-applications {
    margin: 0 auto;
    min-height: 1080px;
    width: 1920px;
    background: radial-gradient(50% 50% at 50% 50%, #0C0D0E 0%, #151718 73.44%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header-applications {
    font-family: Rowdies;
    font-style: normal;
    font-weight: bold;
    font-size: 56px;
    line-height: 70px;
    letter-spacing: 0.11em;
    color: #FFFFFF;
    align-self: flex-start;
    margin-left: 380px;
}

.body-applications {
    width: 1154px;
    background: #FFFFFF;
    border: 1px solid #FE3B1F;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 5em;
}

.boxes-application {
    margin: 3em 9em;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.header-application {
    font-family: Montserrat;
    font-style: italic;
    font-size: 18px;
    line-height: 22px;
    text-decoration-line: underline;
    color: #FE3B1F;
    padding: 0;
    margin: 1.5em 0;
    align-self: flex-start;
}


.question-application {
    color: #000;
}

.label-application {
    font-family: Montserrat;
    font-style: italic;
    font-size: 12px;
    line-height: 15px;
    color: #000000;
    padding: 0 10px;
}


.tab {
    width: 1154px;
    height: 52px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 1em 0 0 0;
}

.tab-inactive {
    background-color: #FE3B1F;
}

.tab-active {
    background-color: #F05039;
}

.num-application {
    font-family: Montserrat;
    font-size: 14px;
    line-height: 17px;
    margin-left: 2em;
}

.arrow {
    border: solid #fff;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    margin-right: 2em;
  }

.arrow-up {
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
}

.arrow-down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}


.router {
    width: 231px;
    height: 19px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1em;
    position: absolute;
    bottom : 50px;
    left : 740px;
}

.previous {
    width: 18px;
    height: 18px;
    background: url(../images/Previous.svg);
    background-size: contain;
}

.next {
    width: 18px;
    height: 18px;
    background: url(../images/Next.svg);
    background-size: contain;
}

.page-completed, .page-not-completed {
    width: 19px;
    height: 19px;
}

.previous, .next, .page-completed, .page-not-completed {
    cursor: pointer;
}

.page-completed{
    background: url(../images/Ellipse\ 1.svg);
    background-size: contain;
}

.page-not-completed {
    background: url(../images/Ellipse\ 4.svg);
    background-size: contain;
}
