* {
    box-sizing: border-box;
}

body,html {
    margin: 0;
    padding: 0;
}

h1, .title-thanks {
    margin: 9rem 7rem;
    padding: 0;
    font-family: 'Rowdies', cursive;
    font-size: 64px;
    font-weight: 400;
    line-height: 79px;
    color: #FE3B1F;
    text-align: center;
    /* border: green solid 2px; */
}

p {
    /* margin: 1em; */
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    line-height: 48px;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    /* border: green solid 2px; */
}

.container {
    margin: auto;
    width: 1920px;
    height: 1080px;
    background: #FFFFFF;
    display: flex;
    /* border: green solid 2px; */
}

.panel-left, .panel-right {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
}

.panel-right {
    background: radial-gradient(50% 50% at 50% 50%, #0C0D0E 0%, #151718 73.44%);
}

.title-right {
    align-self: flex-start;
    margin: 9rem 6rem 7rem 10rem;
}

.p-main {
    align-self: flex-start;
    margin: 3rem 6rem 3rem 9.8rem;
}

.input-box, .input-box2 {
    margin-bottom: 10rem;
    width: 455px;
    height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* border: green solid 2px; */
}

.text-input {
    flex-basis: 54px;
    padding-left: 2rem;
    font-family: 'Montserrat', sans-serif;
    font-style: italic;
    font-size: 14px;
    line-height: 17px;
    color: #454545;
    border: 1px solid #525557;
}

.pageBar {
    color: red;
}





.landing-container, .submit-container {
    margin: auto;
    width: 1920px;
    height: 1080px;
    background-image: url('../images/stars.png'), radial-gradient(50% 50% at 50% 50%, #0C0D0E 0%, #151718 73.44%);
    mix-blend-mode: normal;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    /* border: 4px solid green; */
}

.title-big {
    margin: 2.2em 2.2em 1.5em;
    padding: 0;
    font-size: 96px;
    line-height: 119px;
    text-align: center;
    /* border: 4px solid green; */
}

.btn, .btn-last {
    width: 395px;
    height: 79px;
    background-color: #FE3B1F;
    /* mix-blend-mode: normal; */
    /* filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25)); */
    color: #FFF;
    border-radius: 50px;
    border: none;
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    line-height: 29px;
    cursor: pointer;
    /* border: 4px solid green; */
}

.applications, .link-last {
    margin: 1.5em 1.5em 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    line-height: 29px;
    text-decoration-line: underline;
    color: #FFF;
    /* border: 4px solid green; */
}

img {
    display: block;
    width: 519px;
    height: 482px;
}





.experience-form {
    margin-top: 25px;
    width: 455px;
    height: 193px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* border: 4px solid green; */

}

option {
    padding: 2rem;
    font-family: 'Montserrat', sans-serif;
    font-style: italic;
    font-size: 14px;
    line-height: 17px;
    color: #454545;
    border: 1px solid #525557;
}

.btn-small {
    width: 201px;
    height: 32px;
    font-size: 12px;
    line-height: 15px;
    border: none;
    border-radius: 0;
    align-self: flex-end;
    /* border: 4px solid green; */
}

.radio-box {
    display: block;
    border: none;
    width: 645px;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: normal;
    color: #000;
    padding: 2em 0;
}

.question {
    font-size: 18px;
    line-height: 22px;
}

.answer{
    font-size: 14px;
    line-height: 17px;
}

/* .radio-box input {
    width: 12px;
    height: 12px;
    background-color: #FE3B1F;
    border-radius: 50%;
    border: 1px solid #293B69;
}  need to make this work*/

textarea {
    width: 535px;
    height: 100px;
    border: 1px solid #525557;
    resize: none;
}

label {
    font-family: Montserrat;
    font-size: 18px;
    line-height: 22px;
    margin: 30px 0;
}

.input-box2 {
    width: auto;
    height: auto;
    padding-left: 100px;
}

.submit-container{
    background: radial-gradient(50% 50% at 50% 50%, #0C0D0E 0%, #151718 73.44%);
    justify-content: center;
}

.btn-last {
    font-size: 36px;
    line-height: 44px;
}

.link-last {
    font-size: 28px;
    line-height: 34px;
}

.title-thanks {
    font-size: 96px;
    line-height: 119px;
}